<div class="row">
	<div class="small-10 small-centered large-centered columns">
		<div class="depot_form">
			<fieldset>
				<h3 class="center">Please Enter Your Details</h3>
				<%= render 'form' %>
			</fieldset>
		</div>
	</div>
</div>