<div class="row">
	<div class="small-10 small-centered large-centered columns">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Quantity</th>
					<th>Price</th>
					<th></th>
				</tr>
			</thead>

			<%= render(cart.line_items) %>
			<tr class="total_line">
				<td colspan="2">Total</td>
				<td class="total_cell"><%= number_to_currency(cart.total_price) %>&nbsp;</td>
			</tr>
			<tr>
				<td colspan="4">
					<%= button_to cart, method: :delete, confirm: 'Are you sure?', class: 'secondary hollow button' do %>
						<i class="fi-x"></i>&nbsp;&nbsp;Empty cart 
					<% end %>
				</td>
				<td>
					<%= button_to new_order_path, method: :get, class: 'alert button' do %>
						Go to checkout &nbsp;&nbsp;<i class="fi-arrow-right"></i>
					<% end %>
				</td>
			</tr>
		</table>
	</div>
</div>

