@import "foundation_and_overrides";
@import 'foundation-icons';
@import "jquery.fancybox";
@import "jquery.fancybox-buttons";
@import "jquery.fancybox-thumbs";


/*holver product attackments gallery in view*/

  .hovergallery img{
	-webkit-transform:scale(1); /*Webkit: Scale down image to 0.8x original size*/
	-moz-transform:scale(1); /*Mozilla scale version*/
	-o-transform:scale(1); /*Opera scale version*/
	-webkit-transition-duration: 0.2s; /*Webkit: Animation duration*/
	-moz-transition-duration: 0.2s; /*Mozilla duration version*/
	-o-transition-duration: 0.2s; /*Opera duration version*/

	margin: 0 10px 5px 0; /*margin between images*/
	}
	.hovergallery img:hover{
	-webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
	-moz-transform:scale(1.1); /*Mozilla scale version*/
	-o-transform:scale(1.1); /*Opera scale version*/

	}
/* end holver product attackments gallery in show*/

/*footer*/

.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem;
  p {
    &.slogan {
      color: #8d9093;
      font-size: 1.8rem;
      margin: 0 0 1rem;
    }
    &.copywrite {
      color: #8f9296;
      font-size: 0.875rem;
      margin: 0;
    }
  }
  .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0;
    &::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem;
    }
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
}
   
/*footer*/